.sigle-head {
    font-size: 22px;
    font-family: 'Frutiger-bold';
    color: $thirdcolor;
    margin-bottom: 18px;

    @media (max-width:767px) {
        font-size: 20px;
        text-align: center;
    }
}

.single-sec-head {
    display: flex;
    align-items: center;

    @media (max-width:767px) {
        flex-direction: column;
    }
}

.date-time {
    font-size: 13px;
    color: #a3a3a3;

    i {
        font-size: 14px;
    }

    @media (max-width:767px) {
        margin-bottom: 10px;
    }
}

.share-cont {
    display: flex;
    margin: 0 18px;
    align-items: center;

    span {
        margin: 0 4px;
    }
}

.share {
    display: flex;
}

.share-link {
    width: 26px;
    height: 26px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    border-radius: 50%;
    background-color: #f12f2f;
    margin: 0 2px;
    @include transition(all 0.3s ease-in-out);

    &:nth-of-type(1) {
        background-color: #3b5998;
    }

    &:nth-of-type(2) {
        background-color: #00acee;
    }

    &:nth-of-type(3) {
        background-color: #dd4b39;
    }

    &:nth-of-type(4) {
        background-color: #0077b5;
    }

    &:hover {
        background-color: #4e834d;
        color: #fff;
    }
}

.thumbs-slider {
    margin-top: 20px;

    @media (max-width:767px) {
        margin-bottom: 15px;
    }
}

.gallery-top {
    margin-bottom: 4px;
}

.thumb-slider-img {
    width: 100%;
    height: 504px;
    display: block;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.gallery-thumbs {

    position: relative;

    .swiper-btn {
        width: 40px;
        height: 40px;
        display: flex;
        top: 50%;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 1px 5px 0px rgba(9, 10, 10, 0.2);
        border-radius: 50%;
        background: #fff;
        background-image: none;
        font-size: 14px;
        color: #999999;
        @include transition(all 0.3s ease-in-out);

        @media (max-width:991px) {
            display: none;
        }

        &:hover {
            background-color: #f12f2f;
            color: #fff;
        }

        &::after {
            display: none;
        }

        &.swiper-button-next {
            right: 0;
            transform: translate(50%, -50%);
        }

        &.swiper-button-prev {
            left: 0;
            transform: translate(-50%, -50%);
        }
    }
}

.thumb-img {
    height: 81px;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.single-sec-text {
    font-size: 18px;
    color: $thirdcolor;
    font-family: 'Frutiger-light';
    line-height: 1.889;
    text-align: justify;
    margin-bottom: 10px;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.video-img {
    margin-top: 30px;
    position: relative;
    display: block;
    overflow: hidden;

    &::before {
        content: url(../images/play.png);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
    }

    img {
        @include transition(all 0.3s ease-in-out);
    }

    &:hover {
        img {
            transform: scale(1.05);
        }
    }

    @media (max-width:767px) {
        margin-bottom: 30px;
    }
}

.other-news {
    margin-top: 35px;

    .new-div {
        flex-direction: column;
    }

    .new-img {
        width: 100%;
        height: auto;
        margin-bottom: 25px;
    }

    .new-desc {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }

    .new-name {
        width: auto;
        max-width: none;
        white-space: unset;
        text-overflow: unset;
        overflow: unset;
    }
}